:root {
    --purple: #800080;
    --pink: #ffc0cb;
    --black: #111;
    --white: #fff;
    --brand: #942260;
}

/* Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

body {
    min-height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
}

/* App Name */

#appName {
    background-color: var(--brand);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Josefin Sans';
    text-shadow: 3px 3px 1px var(--black);
    letter-spacing: -3px;
}

/* Containers : playlists and its timer counts */

#container-playlists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#container-plist1, #container-plist2, #container-plist3 {
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 16px;
}

#container-plist1:hover, #container-plist2:hover, #container-plist3:hover {
    border-color: #eee;
}

#counter-list1, #counter-list2, #counter-list3 {
    width: 350px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 15px;
    overflow: hidden;
    border-radius: 10px;
    background:
    linear-gradient(rgba(0, 0, 0, 0.973), transparent),
    linear-gradient(to bottom left, rgb(68, 5, 61), transparent),
    linear-gradient(to bottom right, rgb(72, 31, 53), transparent);
    background-blend-mode: screen;
}

#titleCounter {
    text-transform: uppercase;
    font-size: 10px;
}

#counter1, #counter2, #counter3 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
}

#pList {
    height: 572px;
    width: 350px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 15px;
    overflow: hidden;
    border-radius: 10px;
    background:
    linear-gradient(rgba(0, 0, 0, 0.973), transparent),
    linear-gradient(to top left, rgb(68, 5, 61), transparent),
    linear-gradient(to top right, rgb(72, 31, 53), transparent);
    background-blend-mode: screen;
}

/* Selected */

.selected {
    border: 1px solid var(--pink) !important;
    padding: 5px !important;
    border-radius: 16px !important;
}

/* Cover Image Container */

.cover-image {
    width: 100%;
    height: 250px;
}

/* Playlist Name */

.Pname {
    padding: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

/* Song Box and childs */

.Songbox {
    background-color: rgba(52, 4, 46, 0.4);
    border-top: 1px solid var(--pink);
    padding: 10px;
    transition: all 0.3s;
}

.Songbox:last-child {
    border-bottom: 1px solid var(--pink);
}

.Songbox audio {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Songbox .nameSong {
    font-size: 15px;
}

.Songbox .authorSong {
    font-size: 11px;
    color: var(--pink);
    font-weight: 300;
}

/* Container : Player */

#container-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Player {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 15px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    color: var(--brand);
    gap: 50px;
}

/* Container : Music */

#container-music {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#current-song {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-size: 14px;
    font-style: italic;
}

#cuSong, #cuArtist {
    display: block;
    margin-right: 5px;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}

#cuArtist {
    margin-left: 5px;
    margin-right: 0px;
}

#playTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Container : Progress Bar */

#container-progressbar {
    background-color: var(--pink);
    height: 10px;
    width: 100%;
    position: relative;
}

#progressBar {
    background-color: var(--brand);
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Container : Timer */

#container-timer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timerCount {
    padding: 3px 0;
    text-align: center;
}

#btnStart, #btnReset {
    padding: 5px 8px;
    font-family: 'Poppins';
    font-size: 12px;
    background-color: var(--brand);
    color: var(--white);
    border: none;
    transition: all 1s ease-in-out;
}

#btnStart:hover {
    background-color: var(--purple);
}

#btnReset:hover {
    background-color: var(--purple);
}

/* Container :  Local Time */

#container-localtime {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currentTime {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 28px;
    color: var(--black);
}

/* Credits */

#credits {
    background-color: var(--brand);
    padding: 10px;
    text-align: center;
    font-weight: 200;
}

#credits strong {
    font-weight: 600;
}